<!DOCTYPE HTML>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0, maximum-scale=1.0">
    <script src="../static/js/location.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    	.input-group{
	        width: 500px;
	        margin: auto;
  		}

  		.btn{
	        width: 500px;
	        margin: auto;
  		}

  		#img{
  			width: 500px;
  		}

		#container {
		  position: absolute;
		  top: 50%;
		  left:50%;
		  transform: translate(-50%,-50%);
		  background: none;

		}
  	</style>
</head>

<body>
	<div id = "container" >
		<div id = img class = "center-block"></div>
		<div class="input-group input-group-lg text-center">
              <span class="input-group-btn">
                  <button class="btn btn-info" type="button" onclick="redirect()">Redirect</button>
             </span>
        </div>

        <p class = "text-center"><br>Click if you are not automatically redirected in 5 seconds.</p>
	</div>
	
	<script src="/static/js/location.js"></script>
	<script>
	  var lat;
	  var lng;

	  function redirect() {
	    console.log("{{url}}");
	    window.location = "{{url}}";
	  }
	</script>

	<script>
		function setCharityImage(){
			var charityid = "{{id}}";
			console.log(charityid);
			$.get("http://api.justgiving.com/5bf17704/v1/charity/" + charityid, function(data){
				console.log(data);
				imageUrl = data["logoAbsoluteUrl"];
				document.getElementById("img").innerHTML = "<img class = \"img-responsive\" \"center-block\" width = 500px src = \"" + imageUrl + "\"></img>";

			}, "json");
		};

	
		$(document).ready(function () {
				setCharityImage();
		$.ajax(
		{method: "POST",
		 url: "/donation",
		 data: {
		"charity": charityid,
		"type": "qrcode",
		"lat": lat,
		"long": lng
                },
		headers:
		{"Content-Type": "application/text/json"}
		});
		});
	</script>
</body>
</html>
